<div class="container">
  <div class="row">
    <div class="col-4 offset-1 pt-3">
      <h2>プロフィール編集</h2>
    </div>
  </div>
  <%= form_with model:@user, local:true do |f| %>
  <div class="row pt-3">
    <div class="field col-10 offset-2">
      <label for="inputName">ハンドルネーム</label><br>
      <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"ハンドルネーム"%>
    </div>
    <div class="field col-10 offset-2 pt-2">
      <label for="inputTarget">1カ月の目標支出金額</label><br>
      <%= f.number_field :target_expenses, id:"inputTarget"%>
    </div>
    <div class="col-5 offset-2 pt-2">
      <%= f.submit "変更を保存" %>
    </div>
  </div>
<% end %>
</div>


