<div class="container">
  <div class="row">
    <div class="col-12 pt-3 text-center">
      <h2>家計簿コネクトは家計簿の記帳・公開サイトです！</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-3">
      <p>
      節約の為に家計簿をつけ始めたけど3日坊主になってしまった…<br>
      家計簿は付けていたけど支出が多く目標設定をオーバーしてしまった…<br>
      などの経験はありませんか？<br>
      当サイトでは日々の記帳は勿論、家計簿の公開、閲覧が可能です。<br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-2">
      <h2>☆自分の家計簿を公開することで…</h2>
    </div>
    <div class="col-9 offset-3">
      <li>ホーソーン効果（見られていることでパフォーマンスが上がる心理効果）で記帳モチベーション向上！</li>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-2">
      <h2>☆他の人の家計簿を閲覧することで…</h2>
    </div>
    <div class="col-9 offset-3">
      <li>目標設定の参考に出来る！</li>
      <li>達成可能な目標であることを実感できる！</li>
    </div>
  </div>
  <div class="row">
    <div class="col-12 pt-5 mt-3 text-center">
      <h2>他の家計簿主さんと繋がり、やりくり上手を目指しましょう！</h2>
    </div>
  </div>
</div>