<p>
家計簿コネクトは家計簿の記帳・公開サイトです！<br>
節約の為に家計簿をつけ始めたけど3日坊主になってしまった…<br>
家計簿は付けていたけど支出が多く目標設定をオーバーしてしまった…<br>
などの経験はありませんか？<br>
当サイトでは日々の記帳は勿論、家計簿の公開、閲覧が可能です。<br>
</p>
<h2>自分の家計簿を公開することで…</h2>
<p>ホーソーン効果（見られていることでパフォーマンスが上がる心理効果）で記帳モチベーション向上！</p>
<h2>他の人の家計簿を閲覧することで…</h2>
<p>目標設定の参考に出来る！</p>
<p>達成可能な目標であることを実感できる！</p>

<h1>他の家計簿主さんと繋がり、やりくり上手を目指しましょう。</h1>