<table>
  <tr>
    <td>名前</td>
    <td>目標</td>
    <td>目標金額</td>
    <td></td>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.comment %></td>
    <td><%= user.target_expenses %></td>
    <td><%= link_to "家計簿を覗く",report_path(user) %></td>
  </tr>
  <% end %>
</table>